:root[data-theme="dark"] {
  --text: #f8f9fc;
  --background: #030407;
  --primary: #475fae;
  --secondary: #0f1424;
  --accent: #4a63b5;
}
body,html{
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  height:100%;
  text-align: center;
}

.searchbar {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.searchbar form {
  background-color: #475fae;
  width: 75vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 50px;
  overflow: hidden;
  border: 2px solid #475fae;
  box-shadow: 5px 10px #0f1424;
  padding: 0px;
}
.searchbar input[type="text"] {
  width: 80%;
  padding: 10px;
  line-height: 1;
  text-align: center;
  border: none;
  outline: none;
}
.searchbar button {
  background-color: #475fae;
  width: 20%;
  height: 100%;
  color: #f8f9fc;
  border: none;
  border-radius: 0px;
  padding: 10px 30px;
  cursor: pointer;
}
.searchbar input[type="text"],
.searchbar button {
  height: 4vh;
  display: flex;
  align-items: center;
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .searchbar form {
    flex-direction: column;
    align-items: center;
  }

  .searchbar input[type="text"] {
    width: 80vw;
    margin-bottom: 10px;
  }
}

.shimmer-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #030407;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shimmer-circle {
  width: 100px;
  height: 100px;
  border: 15px solid transparent;
  border-top-color: #475fae;
  border-radius: 50%;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.weather-data{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

#location {
  font-size: 4rem;
}

#temp_main{
  font-size: 3rem;
  cursor: pointer;
  color: #4a63b5;
}

#temp{
  font-size: 2.5rem;
}
#conditiontext{
  font-size: 2rem;
}
.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 5vh;
  font-size: 16px;
  font-weight: 500;
}
.footer a{
  text-decoration: none;
  color: #475fae;
}